extends ../layout

block content
	script(type="text/javascript").
		function doPlay(url) {
			window.location.target = "_blank";
			window.location.href = url;
		}	
	.l-container
		.movie
			h4 电影页面
			.row
				.col-md-8
					figure.figure
						img.img-rounded(src="#{img}")
						figcaption.figure-caption
				.col-md-4
					.form-group.row
					h1 #{title}		
					p 
						label 导演：
						span #{director}
					p 
						label 所属国家：
						span #{country}
					p 
						label 语言：
						span #{language}
					p 
						label 上映日期：
						span #{date}
			h4 电影详情
			.row
				p #{content}